p::first-letter{
    font-size: 30px;
}
p::first-line{
    color: blue;
}
h1::selection{
    color: red;
    background-color: yellow;
}
input[type="text"]:disabled{
    background-color: rgb(204, 201, 201);
}
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: red;
}
.box:hover{
    background-color: yellow;
}
li:nth-child(even){
    color: blue;
}
li:nth-child(odd){
    color: red;
}
a:link{
    color: yellow;
}
a:visited{
   color: red;
}